.profile {
    display: grid;
    max-width: 880px;
    height: 120px;
    grid-template-areas:
	"profile__avatar profile__info profile__add-button";
    grid-template-columns: 120px 336px 1fr;
    align-items: center;
    margin: 40px auto 50px auto;
    box-sizing: border-box;
}

@media screen and (max-width: 900px) {
    .profile {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: "profile__avatar" "profile__info" "profile__add-button";
        height: 100%;
        justify-items: center;
        margin: 40px auto 40px auto;
        padding: 0 20px;
    }
}

/* wrapper avatar*/
.profile__avatar-wrapper {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    grid-area: profile__avatar;
    position: relative;
}

@media screen and (max-width: 900px) {
    .profile__avatar-wrapper {
        margin-bottom: 30px;
    }
}

.profile__avatar-wrapper:hover .profile__avatar-button {
    opacity: 1;
}

.profile__avatar-button {
    opacity: 0;
    padding: 0;
    position: absolute;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.8);
    background-image: url(../../../images/profile__avatar-button.svg);
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    width: 100%;
    height: 100%;
    transition: opacity 0.2s ease-in-out;
}

.profile__avatar {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    grid-area: profile__avatar;
}

/* info */

.profile__info {
    display: grid;
    grid-area: profile__info;
    grid-template-areas:
	"profile__person profile__edit-button"
	"profile__about-me profile__about-me";
    grid-template-columns: 295px;
    align-items: center;
    margin-left: 30px;
    max-width: 330px;
    row-gap: 7px;
    column-gap: 15px;
}

@media screen and (max-width: 900px) {
    .profile__info {
        column-gap: 10px;
        margin: 0 0 30px 30px;
        grid-template-columns: 190px;

    }
}

@media screen and (max-width: 590px) {
    .profile__info {
        justify-self: center;
        row-gap: 7px;
    }
}

/* person */

.profile__person {
    margin: 0;
    padding: 0;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    grid-area: profile__person;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: #fff;
}

@media screen and (max-width: 900px) {
    .profile__person {
        font-size: 27px;
        line-height: 33px;
        width: 100%;
    }
}

/* about me */

.profile__about-me {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    grid-area: profile__about-me;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: #fff;
}

@media screen and (max-width: 590px) {
    .profile__about-me {
        font-size: 14px;
        line-height: 17px;
        width: 185px;
        text-align: center;
    }
}

/* edit button */

.profile__edit-button {
    background: url(../../../images/profile__edit-button.svg);
    background-size: contain;
    border: none;
    width: 24px;
    height: 24px;
    cursor: pointer;
    transition: opacity 0.2s ease-in-out;
    grid-area: profile__edit-button;
    justify-self: start;
}

.profile__edit-button:hover {
    opacity: 0.6;
}

@media screen and (max-width: 685px) {
    .profile__edit-button {
        width: 18px;
        height: 18px;
    }
}

/* add button */

.profile__add-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    border: 2px solid #fff;
    cursor: pointer;
    transition: opacity 0.2s ease-in-out;
    grid-area: profile__add-button;
    justify-self: flex-end;
    border-radius: 2px;
    padding: 0;
    background: url('../../../images/profile__add-button-plus.svg') no-repeat;
    background-size: 22px;
    background-position: center;
}

.profile__add-button:hover {
    opacity: 0.6;
}

@media screen and (max-width: 685px) {
    .profile__add-button {
        margin-right: 0;
        width: 100%;
        background-size: 16px;
    }
}
